.estructura-corporal-titulo
  background-color: #86BEC4
  border-radius: 25px
  color: white
  text-align: center
  font-size: 24px
  font-weight: 700
  padding-bottom: 5px
  padding-top: 5px

.cajon.color-primario
  background-color: rgba(237, 227, 183, 0.25)

.no-slyder-d-primary
  > .horizontal-scroll__wrapper > .horizontal-scroll > .slyder-d__slyde > .slyder-d__imagen > .slyder-d__content > .row > .col-md-8 > .slyder-d__content__card
    background-color: #FFFCEF
    > .slyder__action
      visibility: hidden
.no-slyder-d-primary
  > .horizontal-scroll__wrapper > .horizontal-scroll > .slyder-d__slyde > .slyder-d__imagen > .slyder-d__content > .row > .col-lg-6 > .slyder-d__content__card
    background-color: #FFFCEF
    > .slyder__action
      visibility: hidden
.texto-imagenes
  background-color: #F7F1D7
  > p
    font-size: 13px
    font-weight: 400
.lista-ul.mb-0
  > li
    margin-bottom: 0px
.tarjeta.color-primario
  background-color: rgba(237, 227, 183, 0.15)

.tabs-b__tab__icon
  > img
    max-height: 50px

.slyder-b-primary
  > .horizontal-scroll__wrapper > .horizontal-scroll > .slyder-b__slyde > .row > .order-lg-2
    > figure
      background-color: #F8F5E7
      padding: 40px 20px
      > img
        max-height: 500px

.row-list
  border-top: 2px solid #EDE3B7
  border-bottom: 2px solid #EDE3B7
  > .col-3 > img
    max-height: 120px
